@use "@permit/design-system/styles/variables" as theme;

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  max-width: 1336px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.mobile_title_section {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    padding: 30px 4px;
  }
}

.desktop_ticket_section {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.info_section {
  grid-row: 2;
  grid-column: 1 / span 2;
  margin-bottom: 80px;
  margin-left: 84px;
  padding: 20px 0 0 calc(20px + 12px);

  @media (max-width: 767px) {
    flex: none;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
    padding: 30px 16px 0;

    // 모바일에서는 title_section 숨김
    .title_section {
      display: none;
    }
  }
}
