.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 200px);
  padding: 40px;

  @media (max-width: 767px) {
    min-height: calc(100vh - 150px);
    padding: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 537px;

  @media (max-width: 767px) {
    gap: 20px;
    max-width: 343px;
  }
}

.form_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 767px) {
    gap: 20px;
  }
}

.field_row {
  display: flex;
  flex-direction: row;
  gap: 95px;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.label_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 143px;

  @media (max-width: 767px) {
    justify-content: flex-start;
    min-width: auto;
  }
}

.required {
  flex-shrink: 0;
  width: 3px;
  height: 3px;

  background-color: #ff283e;
  border-radius: 50%;
}

.text_field {
  width: 100%;
  max-width: 299px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.select {
  width: 100%;
  max-width: 299px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.email_container {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  @media (max-width: 767px) {
    gap: 12px;
  }
}

.email_field {
  flex: 1;
  max-width: 299px;

  @media (max-width: 767px) {
    max-width: 254px;
  }
}

.check_button {
  flex-shrink: 0;
  min-width: fit-content;

  @media (max-width: 767px) {
    width: 77px;
  }
}

.submit_button {
  width: 100%;
}
