.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 32px;

  @media (min-width: 768px) {
    margin-top: 132px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 500px;

  @media (max-width: 768px) {
    gap: 20px;
    max-width: 343px;
  }
}

.form_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.field_row {
  display: flex;
  gap: 95px;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.label_container {
  display: flex;
  align-items: flex-start;

  // justify-content: flex-end;
  min-width: 143px;

  @media (max-width: 768px) {
    justify-content: flex-start;
    min-width: auto;
  }
}

.required {
  color: #ff283e;
}

.text_field {
  width: 100%;
  max-width: 299px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.select {
  width: 100%;
  max-width: 299px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.email_container {
  display: flex;
  gap: 12px;
  width: 100%;

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.email_field {
  flex: 1;
  max-width: 299px;

  @media (max-width: 768px) {
    max-width: 254px;
  }
}

.check_button {
  flex-shrink: 0;
  min-width: fit-content;

  @media (max-width: 768px) {
    width: 77px;
  }
}

.submit_button {
  width: 100%;
}
