@use "@permit/design-system/styles/variables" as theme;

.grid_area {
  position: relative;
  flex: 1;
  min-width: max-content;
}

.grid_column {
  position: absolute;
  -webkit-overflow-scrolling: touch; /* 관성 스크롤 */
  overscroll-behavior: contain; /* 상위 스크롤과 충돌 방지 */
}

.current_time_line {
  position: absolute;
  left: 0;
  z-index: 4;
  height: 2px;

  background-color: #f00;

  pointer-events: none;
}
