@use "@permit/design-system/styles/variables" as theme;
@use "@permit/design-system/styles/typography" as typography;

.wrap {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 100%;

  @media (max-width: 767px) {
    gap: 20px;
  }
}

.info_section {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.info_group {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 16px 48px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    > div {
      &:first-child {
        grid-column: 1 / -1;
      }
    }
  }
}

.lineup_section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.lineup_title {
  color: theme.$gray-400;
  font-size: 14px;
}

.lineup_grid {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  gap: 16px 48px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

.description {
  @media (max-width: 767px) {
    max-width: 610px;
  }
  max-width: calc(100% - 84px);

  white-space: pre-line;
}
