@use "../../styles/variables" as theme;

.textfield {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 12px;

  background-color: theme.$gray-800;
  border: 1px solid theme.$gray-700;
  border-radius: 4px;

  transition: all 0.1s ease-in-out;

  &:focus-within:not(&--error, &--disabled, &--readonly) {
    border-color: theme.$gray-400;
  }

  &--error {
    border-color: theme.$red;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--readonly {
    // background-color: theme.$gray-800;
    // border-color: theme.$gray-700;

    background-color: transparent;
    border-color: transparent;
  }

  &__input {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;

    color: theme.$gray-100;
    font-size: 14px;
    font-family: Pretendard, sans-serif;

    background: transparent;
    outline: none;
    border: none;

    &::placeholder {
      color: theme.$gray-400;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:read-only {
      cursor: default;
    }

    // Time input picker icon (Chrome/Safari)
    &[type="time"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: invert(1);
    }

    // TODO: 추후 변경
    // Hide visible value for time inputs while keeping the picker icon visible
    &[type="time"][data-empty="true"] {
      color: transparent; // Chromium
      -webkit-text-fill-color: transparent; // Safari
      caret-color: transparent;

      text-shadow: none;
    }
  }

  &__textarea {
    min-height: 44px;
    padding: 12px 0;

    resize: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 8px;

    color: theme.$gray-100;
  }

  &__error {
    color: theme.$red;
    font-size: 14px;
    font-family: Pretendard, sans-serif;
  }

  // Pseudo placeholder for empty time inputs
  &[data-time-empty="true"][data-placeholder] {
    position: relative;
  }

  &[data-time-empty="true"][data-placeholder]::after {
    position: absolute;
    top: 50%;
    left: 12px;

    color: theme.$gray-400;
    font-size: 14px;
    font-family: Pretendard, sans-serif;

    transform: translateY(-50%);

    content: attr(data-placeholder);
    pointer-events: none;
  }
}

.textfield-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;

  &--full-width {
    width: 100%;
  }

  &--multiline {
    /* stylelint-disable-next-line no-descending-specificity */
    .textfield {
      align-items: flex-start;
      height: auto;
      min-height: 44px;
    }
  }
}
