@use "@permit/design-system/styles/variables" as theme;

.event_venue {
  margin-top: 20px;
}

.date_time_wrap {
  margin-top: 10px;
}

.qr_code_wrap {
  margin: 68px;
  background-color: theme.$white;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;

  @media (max-width: 768px) {
    margin: 28px;

    display: flex;
    justify-content: center;
    padding: 12px;
  }
}
