@use "@permit/design-system/styles/variables" as theme;
@use "@permit/design-system/styles/typography" as typography;

.container {
  height: 80px;
  padding: 20px 40px;

  @include typography.body-reg-12;
  font-family: theme.$font-family-roboto;

  &.is_event_page {
    margin-bottom: 79px;
  }

  @media (max-width: 768px) {
    height: 152px;

    &.is_event_page {
      margin-bottom: 89px;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 14px;
}

.info {
  margin-top: 12px;

  word-break: keep-all;
}
