@use "@permit/design-system/styles/variables" as theme;
@use "@permit/design-system/styles/typography" as typography;

.container {
  height: 80px;
  padding: 20px 40px;

  @include typography.body-reg-12;
  font-family: theme.$font-family-roboto;

  @media (max-width: 768px) {
    height: 152px;
    padding: 20px 28px;

    // NOTE: 이벤트 페이지에서 Floating Button 때문에 푸터 높이 조정
    &.is_event_page {
      margin-bottom: 89px;
    }
  }

  &.is_time_table_page {
    display: none;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 14px;
}

.info {
  margin-top: 12px;

  word-break: keep-all;
}
