.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  max-width: 600px;
  height: 100vh;
  margin: auto;
  padding: 0 4px;
}

.event_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding-bottom: 32px;
}
