@use "@permit/design-system/styles/variables" as theme;
@use "@permit/design-system/styles/typography" as typography;

.wrap {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-right: 40px;
    margin-left: calc(30% - 40px);

    color: theme.$white;
  }
}

.ticket_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 77px - 44px - 28px - 12px);
}

.select_section {
  margin-top: 40px;
}

.selected_tickets_wrap {
  margin-top: auto;
}

.promo_code_input_wrap {
  margin-bottom: 32px;
}

.promo_code_button {
  display: block;

  color: theme.$white;
  text-decoration: underline;

  cursor: pointer;

  &:not(.open) {
    margin-bottom: 12px;
  }
}

.promo_code_notice {
  margin: 4px 0 12px;
}

.promo_code_input {
  > div {
    background-color: theme.$gray-700;
  }
}

.selected_tickets_list {
  max-height: 132px;
  overflow-y: auto;
}

.count_button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:disabled {
    path {
      fill: theme.$gray-500;
    }
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    path {
      fill: theme.$gray-200;
    }
  }
}

.count_display {
  width: 50px;
  height: 30px;

  text-align: end;
  vertical-align: middle;

  border: 1px solid theme.$gray-400;
  border-radius: 4px;

  @include typography.body-bold-14;

  > span {
    display: inline-block;
    padding-top: 6px;
    padding-right: 10px;
  }
}

.price_text {
  width: 72px;

  text-align: end;
}

.close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  padding: 1px;

  background-color: theme.$gray-600;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: theme.$gray-700;
  }
}

.total_price_wrap {
  margin-top: 12px;
  padding-top: 12px;

  border-top: 2px solid theme.$gray-200;
}

.buy_button {
  margin: 12px 0 28px;
}
