.timetableWrapper {
  position: relative;
  display: flex;
  height: 100vh;
  overflow-y: scroll;

  color: white;
  font-family: sans-serif;

  background-color: #111;
}

.timeColumn {
  flex-shrink: 0;
  width: 120px;
}

.timeSlot {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 8px;

  font-size: 12px;

  border-bottom: 1px solid #333;
}

.gridArea {
  position: relative;
}

.block {
  position: absolute;
  box-sizing: border-box;
  width: 140px;
  padding: 6px;

  color: white;
  font-size: 14px;

  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 6px;
}
