@use "@permit/design-system/styles/variables" as theme;

.area_headers {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-shrink: 0;
  min-width: max-content;

  background-color: theme.$black;
}

.area_header {
  align-content: center;
  height: 60px;

  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;

  border-right: 1px solid theme.$gray-600;
  border-bottom: 1px solid theme.$gray-600;
}

// 반응형 처리
@media (max-width: 768px) {
  .area_header {
    font-size: 12px;
  }
}
