@use "../../styles/variables" as theme;
@use "../../styles/typography" as typography;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all 0.15s ease-in-out;

  @include typography.body-bold-14;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Size variants
  &--sm {
    height: 32px;
    padding: 0 12px;
  }

  &--md {
    height: 44px;
    padding: 0 16px;
  }

  // round variants 필요시 추가

  // Style variants
  &--primary {
    color: theme.$gray-100;

    background-color: theme.$gray-700;
    border-color: theme.$gray-600;

    &:hover:not(:disabled) {
      background-color: theme.$gray-600;
    }
  }

  &--secondary {
    color: theme.$gray-100;

    background-color: transparent;
    border-color: theme.$gray-600;

    &:hover:not(:disabled) {
      background-color: rgba(theme.$gray-800, 0.1);
    }
  }

  &--cta {
    color: theme.$gray-800;

    background-color: theme.$white;

    &:hover:not(:disabled) {
      background-color: theme.$gray-150;
    }
  }

  &--error {
    color: theme.$gray-800;

    background-color: theme.$red;

    &:hover:not(:disabled) {
      background-color: theme.$red-100;
    }
  }

  &--unac {
    color: theme.$gray-900;

    background-color: theme.$gray-600;
    border-color: theme.$gray-700;

    &:hover:not(:disabled) {
      background-color: theme.$gray-700;
    }
  }

  // Full width variant
  &--full-width {
    width: 100%;
  }
} 