@use "../../styles/variables" as theme;
@use "../../styles/typography" as typography;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: all 0.15s ease-in-out;

  @include typography.body-bold-14;

  &:disabled {
    cursor: not-allowed;

    // TODO: disabled 색상 확인 필요
    opacity: 0.8;
  }

  // Style variants
  &--primary {
    color: theme.$gray-100;

    background-color: theme.$gray-700;
    border-color: theme.$gray-600;

    // &:disabled {
    //   background-color: theme.$gray-600;
    // }
  }

  &--secondary {
    color: theme.$gray-100;

    background-color: transparent;
    border-color: theme.$gray-600;

    // &:disabled {
    //   background-color: rgba(theme.$gray-800, 0.1);
    // }
  }

  &--cta {
    color: theme.$gray-800;

    background-color: theme.$white;

    &:disabled {
      color: theme.$gray-900;

      background-color: theme.$gray-600;
      border-color: theme.$gray-700;
    }
  }

  &--error {
    color: theme.$gray-800;

    background-color: theme.$red;

    // &:disabled {
    //   background-color: theme.$red-100;
    // }
  }

  &--unac {
    color: theme.$gray-900;

    background-color: theme.$gray-600;
    border-color: theme.$gray-700;

    // &:disabled {
    //   background-color: theme.$gray-500;
    // }
  }

  // Size variants
  &--sm {
    height: 32px;
    padding: 8px 20px;
  }

  &--md {
    height: 44px;
    padding: 14px 20px;
  }

  // header 에서만 사용되는 button
  // 기존 정의된 버튼의 size 를 사용하지 않음
  &--header {
    height: 42px;
    padding: 12.5px 36px;

    color: theme.$white;

    background-color: theme.$gray-700;
    border-radius: 34px;

    // &:disabled {
    //   background-color: theme.$gray-600;
    // }

    @include typography.body-reg-14;
  }

  // round variants 필요시 추가

  // Full width variant
  &--full-width {
    width: 100%;
  }
}

.button--loading {
  pointer-events: none;
}

.spinner {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: 20px;

  .dot {
    width: 6px;
    height: 6px;

    background-color: theme.$gray-800;
    border-radius: 50%;

    animation: bounce 1s infinite ease-in-out;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
  }

  .dot:nth-child(2) {
    animation-delay: 0.15s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.3s;
  }

  &.primary .dot,
  &.secondary .dot {
    background-color: theme.$gray-100;
  }

  &.cta .dot,
  &.error .dot {
    background-color: theme.$gray-800;
  }

  &.unac .dot {
    background-color: theme.$gray-900;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-8px);
  }

  40% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
