.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  margin-top: 72px;

  @media (max-width: 768px) {
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 24px;
    overflow-x: auto;
  }
}

.sidebar_item {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  background: none;
  cursor: pointer;
  border: none;

  @media (max-width: 768px) {
    flex-shrink: 0;
    width: auto;
  }
}

.sidebar_indicator {
  width: 4px;
  height: 28px;

  @media (max-width: 768px) {
    height: 18px;
  }

  &.active {
    flex-shrink: 0;

    background-color: #fafafa;
    border-radius: 8px;
  }
}

.sidebar_text {
  color: #636363;
  font-weight: 700;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  line-height: 100%;
  white-space: nowrap;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &.active {
    color: #fafafa;
  }
}

