@use "@permit/design-system/styles/variables" as theme;

.promo_code_button {
  display: block;
  margin-top: 36px;

  color: theme.$white;
  text-decoration: underline;

  cursor: pointer;
}

.promo_code_notice {
  margin: 4px 0 12px;
}
