@use "sass:string";
@use "sass:map";
@use "./variables" as *;

@function get-default-weight($size-key) {
  @if string.index($size-key, "title") {
    @return "bold";
  }

  @return "regular";
}

@function get-default-line-height($size-key) {
  @if string.index($size-key, "32") {
    @return 38px;
  }

  @if string.index($size-key, "24") {
    @return 28px;
  }

  @if string.index($size-key, "20") {
    @return 23px;
  }

  @if string.index($size-key, "18") {
    @return 21px;
  }

  @if string.index($size-key, "16") {
    @return 19px;
  }

  @if string.index($size-key, "14") {
    @return 16px;
  }

  @if string.index($size-key, "12") {
    @return 14px;
  }

  @return $line-height-auto;
}

// Typography Functions
@mixin get-typography($size-key, $weight: null, $color: $white, $font-family: $font-family-base) {
  $final-weight: if($weight, $weight, get-default-weight($size-key));
  color: map.get($colors, $color);
  font-weight: map.get($font-weights, $final-weight);
  font-size: map.get($font-sizes, $size-key);
  font-family: $font-family;
  line-height: get-default-line-height($size-key);
}

// Color Functions
@function get-color($color-name) {
  @return map.get($colors, $color-name);
}
