@use "@permit/design-system/styles/variables" as theme;

.timetable_wrapper {
  position: relative;
  display: flex;
  height: 100dvh;
  overflow: scroll;

  color: white;
  font-family: sans-serif;

  background-color: theme.$black;
  -webkit-overflow-scrolling: touch; /* 관성 스크롤 */
  overscroll-behavior: contain; /* 상위 스크롤과 충돌 방지 */
}

.left_fixed_area {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 120px;
}

.time_column_header {
  position: sticky;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  font-weight: 600;
  font-size: 14px;

  background-color: theme.$black;
  border-right: 1px solid theme.$gray-600;
  border-bottom: 1px solid theme.$gray-600;
}

.right_scroll_area {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// 반응형 처리
@media (max-width: 768px) {
  .left_fixed_area {
    width: 80px;
  }
}
