.container {
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.sidebar {
  width: 200px;
  margin-top: 72px;
}

.content {
  flex: 1;
  margin-top: 72px;
}

.header {
  margin-bottom: 32px;
}

.subtitle {
  margin-top: 8px;

  color: #ccc;
}

.form {
  max-width: 800px;
}

.row {
  flex: 1;
}
