.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 72px;

  color: white;

  background-color: #000;
}

.row {
  width: 100%;
}

.action_button {
  margin-top: 20px;
}
