@use "@permit/design-system/styles/variables" as theme;
@use "@permit/design-system/styles/typography" as typography;

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 72px 0 120px;
}

.row {
  width: 100%;
}
