@use "@permit/design-system/styles/variables" as theme;
@use "@permit/design-system/styles/typography" as typography;

.title_section {
  display: flex;
  flex-direction: column;
  gap: 22px;

  &.is_show {
    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    gap: 12px;
    width: 100%;
  }
}

.title {
  font-weight: 800;
}

.time_table_button {
  width: fit-content;
  padding: 8px 20px;

  color: theme.$white;

  @include typography.body-bold-14;
  background: transparent;
  cursor: pointer;
  border: 1px solid theme.$gray-600;
  border-radius: 4px;

  &:hover {
    background-color: theme.$gray-800;
  }
}
