@use "@permit/design-system/styles/variables" as theme;

.time_column {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.time_slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;

  border-right: 1px solid theme.$gray-600;
  border-bottom: 1px solid theme.$gray-600;

  &.current_time_slot {
    background-color: theme.$red;
    border-color: theme.$red;
  }
}

// 반응형 처리
@media (max-width: 768px) {
  .time_slot {
    font-size: 14px;
  }
}
