@use "@permit/design-system/styles/variables" as theme;

.carousel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 12px;
  margin: 0 auto 0 0;
  padding-left: 16px;

  @media (max-width: 767px) {
    position: relative;
    gap: 16px;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding-left: 0;
  }
}

.image_container {
  position: relative;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  width: 500px;

  &.is_single {
    @media (min-width: 767px) {
      margin-left: 24px;
      width: 438px;
    }
  }

  height: 580px; // 확인
  spect-ratio: 3 / 4;

  @media (max-width: 767px) {
    position: relative;
    gap: 0;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 3 / 4;
  }
}

.swiper {
  width: 100%;
  height: 100%;

  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
}

.swiper_slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
}

.image {
  width: 438px;
  height: 552px;
}

.icon_button {
  display: flex;
  align-items: center;

  background-color: theme.$gray-600;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  @media (max-width: 767px) {
    display: none;
  }

  svg {
    transform: rotate(-90deg);
  }

  &:hover {
    background-color: theme.$gray-500;
  }
}

.dots {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: calc(100% - 64px);
  margin: 8px auto 0;

  @media (max-width: 767px) {
    margin-top: 12px;
  }
}

.dot {
  width: 8px;
  height: 8px;

  background-color: theme.$gray-600;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  transition: background-color 0.2s;

  &:hover {
    background-color: theme.$gray-500;
  }

  &.active {
    background-color: theme.$white;
  }
}
